<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" integrity="sha256-I4gvabvvRivuPAYFqevVhZl88+vNf2NksupoBxMQi04=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css" integrity="sha256-zV9aQFg2u+n7xs0FTQEhY0zGHSFlwgIu7pivQiwJ38E=" crossorigin="anonymous" />

    <style>
        .loader-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display:flex;
            justify-content:center;
            align-items:center;

            z-index: 10;

            position: fixed;
            background-color: rgba(0, 0, 0, 0.5);

            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
        }

        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>

    <title>{{ title }}</title>
</head>

<body style="padding-top: 20px; padding-bottom: 20px;">

<div class="container content-wrapper">

    <h1 class="text-center text-primary">{{ title }}</h1>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="alert alert-danger invalid-info-alert" role="alert" style="display: none"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <h3 class="text-center">Schedule for the next 14 days</h3>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Email</th>
                    <th class="text-center">Date of Use</th>
                    <th class="text-center">Time of Use</th>
                </tr>
                {% for kb in bookings %}
                <tr>
                    <td>{{ kb.getEmail() }}</td>
                    <td class="text-center">{{ kb.getDateString() }}</td>
                    <td class="text-center">{{ kb.getStartTimeString() }}-{{ kb.getStopTimeString() }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <form id="request-form">
                <h3 class="text-center">Submit your application</h3>

                <div class="form-group">
                    <label for="email-input">Email Address</label>
                    <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp"
                           placeholder="Enter your {{ emailDomain }} email address." name="request-email">
                    <small id="emailHelp" class="form-text text-muted">This is shared publicly.</small>
                </div>

                <div class="form-group">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" placeholder="Date" aria-label="Date"
                               aria-describedby="dateHelp" id="date-input" name="request-date" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Choose</button>
                        </div>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <small id="dateHelp" class="form-text text-muted">This is shared publicly.</small>
                </div>

                <div class="form-group">
                    <label for="startTime-input">Entry Time</label>
                    <div class="input-group" id="startTime-group">
                        <input class="form-control" id="startTime-input" aria-describedby="startTimeHelp"
                               placeholder="Enter your time of entry." name="request-startTime">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Choose</button>
                        </div>
                    </div>
                    <small id="startTimeHelp" class="form-text text-muted">This is shared publicly.</small>
                </div>

                <div class="form-group">
                    <label for="stopTime-input">Leave Time</label>
                    <div class="input-group" id="stopTime-group">
                        <input type="text" class="form-control" id="stopTime-input" aria-describedby="stopTimeHelp"
                               placeholder="Enter the time when you will leave." name="request-stopTime">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Choose</button>
                        </div>
                    </div>
                    <small id="stopTime" class="form-text text-muted">This is shared publicly.</small>
                </div>

                <div class="form-group">
                    <label for="purpose-input">Purpose</label>
                    <input type="text" class="form-control" id="purpose-input" aria-describedby="purposeHelp"
                           placeholder="What are you going to do?" name="request-purpose">
                    <small id="purposeHelp" class="form-text text-muted">This is <b>not</b> shared publicly.</small>
                </div>

                <div class="form-group">
                    <label for="notes-textarea">Notes</label>
                    <textarea class="form-control" id="notes-textarea" rows="2" name="request-notes"></textarea>
                    <small class="form-text text-muted">This is <b>not</b> shared publicly. <i>Optional.</i></small>
                </div>

                <button style="width: 100%;" type="submit" id="submit-button" class="btn btn-primary text-center" disabled>
                    Submit Application
                </button>
            </form>
        </div>
    </div>

    <div class="loader-container" style="display: none;">
        <div class="loader"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js" integrity="sha256-TueWqYu0G+lYIimeIcMI8x1m14QH/DQVt4s9m/uuhPw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js" integrity="sha256-xoE/2szqaiaaZh7goVyF5p9C/qBu9dM3V5utrQaiJMc=" crossorigin="anonymous"></script>
<script>
    function isDateValid() {
        return $('#email-input').val().endsWith('@uwcchina.org');
    }
    function isPurposeValid() {
        return $('#purpose-input').val() ? true : false;
    }
    function updateSubmitButton() {
        if (isDateValid() && isPurposeValid()) {
            $('#submit-button').prop('disabled', false);
        } else {
            $('#submit-button').prop('disabled', true);
        }
    }

    // Configure datepicker
    $('.input-group.date').datepicker({
        format: 'dd/mm/yyyy'
    });
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        startDate: '01/02/2018'
    });

    // Configure timepickers
    $('#startTime-input').timepicker({
        'timeFormat': 'H:i',
        'step': 60,
        'forceRoundTime': true,
        'minTime': '09:00',
        'maxTime': '21:00'
    });
    $('#startTime-group > .input-group-append > button').click(function() {
        $('#startTime-input').timepicker('show');
    });

    $('#stopTime-input').timepicker({
        'timeFormat': 'H:i',
        'step': 60,
        'forceRoundTime': true,
        'minTime': '10:00',
        'maxTime': '22:00'
    });
    $('#stopTime-group > .input-group-append > button').click(function() {
        $('#stopTime-input').timepicker('show');
    });

    $('#email-input').focusout(function() {
        if (!isDateValid()) {
            $('#emailHelp').text('Please type in your @uwcchina.org email.');
            $('#emailHelp').removeClass('text-muted');
            $('#emailHelp').addClass('text-danger');
        } else {
            $('#emailHelp').text('This is shared publicly.');
            $('#emailHelp').addClass('text-muted');
            $('#emailHelp').removeClass('text-danger');
        }

        updateSubmitButton();
    });

    $('.form-control').focusin(function() {
        $('.invalid-info-alert').hide();
    });

    $('#purpose-input').focusout(function() {
        if (!isPurposeValid()) {
            $('#purposeHelp').text('Please type in what you are going to do in the kitchen.');
            $('#purposeHelp').removeClass('text-muted');
            $('#purposeHelp').addClass('text-danger');
        } else {
            $('#purposeHelp').html('This is <b>not</b> shared publicly.');
            $('#purposeHelp').addClass('text-muted');
            $('#purposeHelp').removeClass('text-danger');
        }

        updateSubmitButton();
    });

    // Ajax Requests
    var request;
    $("#request-form").submit(function(event) {
        event.preventDefault();

        if (request) {
            request.abort();
        }

        var $form = $(this);

        var $inputs = $form.find("input, select, button, textarea");

        var serializedData = $form.serialize();
        $inputs.prop("disabled", true);
        $(".loader-container").fadeIn(500);

        request = $.ajax({
            url: "/request",
            type: "post",
            contentType: "application/x-www-form-urlencoded",
            data: serializedData,
            success: function(data, status, xhr) {
                console.log("Success");
            },
            error: function(xhr, status, error) {
                var rsp = xhr.responseText;

                if (rsp == "DATE_TAKEN") {
                    $(".invalid-info-alert").text("Your chosen date is taken. Please set another date.");
                    $(".invalid-info-alert").show();
                } else if (rsp == "INVALID_EMAIL") {
                    $(".invalid-info-alert").text("Your email seems to be invalid. Please use your @uwcchina email address");
                    $(".invalid-info-alert").show();
                } else if (rsp == "INVALID_DATE") {
                    $(".invalid-info-alert").text("Your date seems to be invalid. Please enter a day that is at least 24 hours from now.");
                    $(".invalid-info-alert").show();
                } else if (rsp == "INVALID_START_TIME") {
                    $(".invalid-info-alert").text("Your entry time seems to be invalid.");
                    $(".invalid-info-alert").show();
                } else if (rsp == "INVALID_STOP_TIME") {
                    $(".invalid-info-alert").text("Your exit time seems to be invalid.");
                    $(".invalid-info-alert").show();
                } else if (rsp == "INVALID_PURPOSE") {
                    $(".invalid-info-alert").text("Your purpose is empty. Please write what you want to do in the International Kitchen.");
                    $(".invalid-info-alert").show();
                } else {
                    $(".invalid-info-alert").text("Server error.");
                    $(".invalid-info-alert").show();
                }
                $('html, body').animate({
                    scrollTop: $(".invalid-info-alert").offset().top
                }, 200);
            }
        });

        request.done(function(response, textStatus, jqXHR) {
            console.log("Success");
            location.reload();
        });

        request.always(function() {
            $inputs.prop("disabled", false);
            $(".loader-container").fadeOut(500);
        });
    });
</script>
</body>

</html>